@model Capstone.Models.Items

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<div>
    <h4>Item details</h4>
    <hr />

    <dl class="dl-horizontal">
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <dt>
                Item Photo
            </dt>
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" style="width:180px;height:220px;" />
            </dd>
        }

        @*<dt>
            @Html.DisplayNameFor(model => model.ItemPhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemPhoto)
            <img src="@Url.Action("ItemPhotos", "Items" )" height="198" width="128" />
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemsId }) |
    @Html.ActionLink("Back to List Of All Items", "Index")       |
</p>
